<!DOCTYPE html>
<html>
<head>
	<title>Get Post Checker</title>         
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
	<fieldset>
<form action="/" method="POST">
    <ul>
      <li><input type="text" name="petName" value="Rover" /></li>
      <li><input type="text" name="species" value="Canine" /></li>
      <li><input type="text" name="breed" value="Basset Hound" /></li>
      <li><input type="number" name="age" value="12" /></li>
    </ul>
    <button type="submit">SUBMIT</button>
</form>
</fieldset>
</head>

<body>
	{{{ body }}}
</body>
</html>