<h1>Enter Workouts</h1>

<form id="addNewWorkout">
  Name: 
  <input type="text" name="exercise" id="exercise"><br>
  Reps: 
  <input type="number" name="reps" id="reps"><br>
  Weight: 
  <input type="number" name="weight" id="weight"><br>
  LBS (checked) KG (unchecked): 
  <input type="checkbox" name="measurement" id="measurement"><br>
  Date: 
  <input type="date" name="date" id="date"><br>
  <input type="submit" name="Submit" value="submit" id="submit">
</form>
<br>

<table id="dataTable">
  <tr>
    <th>Name</th>
    <th>Reps</th>
    <th>Weight</th>
    <th>Units</th>
    <th>Date</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {{#if results}}
    {{#each results}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.reps}}</td>
        <td>{{this.weight}}</td>
        <td>{{this.lbs}}</td>
        <td>{{this.date}}</td>
        <td>
          <a href="/update?id={{this.id}}"><input type="button" value="Update"></a>
          </td>
        <td>
          <input type="button" name="delete" value="Delete" onClick="deleteRow('dataTable',{{this.id}})">
          <input type="hidden" id="delete{{this.id}}">
          </td>
      </tr>
    {{/each}}
  {{/if}}
</table>
<script src="./app.js"></script>