<h1>Update</h1>

<form action="/updateBack">
  Name: 
  <input type="text" name="exercise" id="exercise" value="{{results.name}}"><br>
  Reps: 
  <input type="number" name="reps" id="reps" value="{{results.reps}}"><br>
  Weight: 
  <input type="number" name="weight" id="weight" value="{{results.weight}}"><br>
  LBS (checked) KG (unchecked):
  {{#if results.lbs}}
    <input type="checkbox" name="measurement" id="measurement" checked><br>
  {{else}}
    <input type="checkbox" name="measurement" id="measurement"><br>
  {{/if}}
  Date: 
  <input type="date" name="date" id="date" value="{{results.date}}"><br>
  <input type="hidden" name="id" value={{results.id}}>
  <input type="submit" name="updateItem" value="Update Item" id="updateItem">
</form>
<br>